body,button{
    font-family: 'Inter',sans-serif;
}

h1,h2,h3,button,p{
    letter-spacing: -0.02em;
}

button{
    border: none;
}

h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

h2{
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

header{
    background-color: #043873;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 0 29px 0;
}

nav{
    margin-left: 300px;
    font-family: 'DM Sans',sans-serif;
}

.nav__link{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-right: 32px;
}

nav a:last-of-type{
    margin-right: 60px;
}

nav a:last-child{
    background-color: red;
}

.nav__button__login{
    color: #043873;
    background-color: #FFE492;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 18px 40px;
    border-radius: 8px;

    cursor: pointer;
    margin-right: 24px;
}

.nav__button__try{
    color: white;
    background-color: #4F9CF9;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 18px 24px;
    border-radius: 8px;
    cursor: pointer;
}

section{
    padding: 140px 0 140px 0;
}

section:nth-child(odd){
    background-color: #043873;
}

.try_for_free{
    background-image: url(../resources/try_for_free_decoration.png);
    background-repeat: no-repeat;
    background-position: 50% 70%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.try_for_free__information{
    width: 656px;
}

section h1,h2{
    margin-bottom: 24px;
}

section p{
    margin-bottom: 60px;
}

.try_for_free__image{
    width: 824px;
    height: 549px;
}

.try_for_free .nav__button__try{
    padding: 20px 20px;
}

.about_possibilities__item{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../resources/about_possibilities_bg.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.about_possibilities__item__information{
    width: 672px;
    margin-right: 60px;
}

.about_possibilities__item__information h2{
    background-image: url(../resources/about_possibilities_underline_text.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.about_possibilities__image{
    height: 547px;
    width: 748px;
}